
<div class="comment-wrapper">
    <div class="comment">
      
      <%if post.comments.any? %>

       <%unless post.comments.count <= 4 %>
    	 <%post.comments.last(4).each do |comment| %>
         
         <div class="comment-name">
    		   <%=comment.user.username %>
    		 </div>
          
         <div class="content"> 
            <%=comment.content %>
           
            <%if (current_user === comment.user)%>
              <span><%=link_to "", post_comment_path(post,comment), :method=> :delete, :class=> "comment-delete-btn glyphicon glyphicon-remove pull-right"%>
              </span>
            <%end%>
        </div>
        <%end%>
      <%end%>
    <%end%>
    

      <div class="show-more-links">
        <%=link_to "More comments", post_comments_path(post), :class=>"btn btn-primary" %>
      </div>

  </div>
</div>

 
    
