<div class="post-head">
  	<div class="name"><%=link_to "#{post.user.username}", profile_path(post.user.username)%></div>
  	<span class="time pull-right"> <%=time_ago_in_words(post.created_at) %></span>
 </div>
 
  	<div class="image center-block">
     <%= link_to (image_tag post.image.url(:medium), class: 'img-responsive'), post_path(post)%>
    </div>
    <p class="caption"><%= post.caption %></p>
