
 <div class="row posts-wrapper">
<% @posts.each do |post| %>

  	<div class="post">

    <%= render partial: "posts/post_header", :locals => {:post => post}%>
    <%= render partial: "comments/comment_content", :locals => {:post=> post} %>
    <%=render partial: 'comments/comment_form', :locals => {:post => post} %>
    
    </div>



<%end%>
</div>