<div class="row posts-wrapper">
	<div class="post">
		<div class="post-head">
			<div class="name">UserName</div>
		</div>
		<div class="image center-block">
	<%=image_tag @post.image.url, width: '640x', class: 'img-responsive'%>
		<p class="caption text-center"><%=@post.caption %>
		<%=link_to "Edit", edit_post_path(@post), class: 'edit-btn' %>	
		<%=link_to "Cancel", posts_path, class: 'cancel-btn' %>
	</p>
	</div>
</div>
</div>