@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * 
 *
 */


 html {
 	height: 100%;
 }

 body {

 
 	background-color: #fafafa;
 	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }


.navbar-brand {
	
		color: #125688;
	
}

.navbar-default {
	background-color: #fff;
	height: 54px;
	.navbar-nav li a {
		color: #125688;
	}
}

.navbar-container {
	width: 640px;
	margin: 0 auto;
}

.posts-wrapper {
	padding-top: 40px;
	margin: 0 auto;
	max-width: 642px;
	width: 100%;
}

.post {
	background-color: #fff;
	border-color: #edeeee;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	margin-bottom: 60px;
}

.name {
	display: block;
}

.post-head {
	height: 64px;
	padding: 14px 20px;
	color: #125688;
	font-size: 15px;
	line-height: 18px;
}

.image {
	border-bottom: 1px solid #eeefef;
	border-top: 1px solid #eeefef;
}

.caption {
	padding: 24px 24px;
	font-size: 15px;
	line-height: 18px;
}

.form-wrapper {
	width: 40%;
	margin: 20px auto;
	background-color: #fff;
	padding: 40px;
	border: 1px solid #eeefef;
	border-radius: 3px;
}

<<<<<<< HEAD
.delete-link {
	margin-left: 278px;
}

.comment-wrapper {
	
}

.comment {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 2px;
}
.comment-form {
		background-color: #eeefef;
	padding-top: 10px;
	padding-bottom: 10px;
}

.comment-field-input {
	height: 33px;
	margin-left: 20px;
	border-radius: 3%;
	border-width: 2px;
	border-style: solid;
	border-color: #FFF;
	width: 83%;
}

.comment-btn {
	margin-left: 6px;
}

.content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
  margin-bottom: 5px;
  line-height: 16px;
  border-bottom-style: solid;
  border-color: #EEff;
  border-width: 1px;
  padding-bottom: 10px;
}

.comment-name {
	font-weight: 500px;
	margin-top: 7px;
	color: #125688;
	font-size: 15px;
	display: inline;
}

.login-bg {
	width: 120%;
	height: 120%;
	padding-top: 4em;
	background-image: image-url('surf.jpg');
	  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	margin-top: 15px;
}

.log-in-panel {
	background-color: #FFF;
	border-radius: 2%;
	border-width: 2px;
	border-style: solid;
	border-color: #eeefef;
	height: 466px;
	padding: 13px;
	width: 410px;
	margin-bottom: 205px;
	margin-left: 93px;
}

.panel-heading {
	h2 {
		text-align: center;
	}
}

.comment-delete-btn {
	margin-left: 2px;
}

.post-edit-btn {
	margin-left: 290px;
=======
.cancel-btn {
	position:relative;
	left: 240px;
>>>>>>> 2114ce4847c959055ea00906c24850b331e805ec
}