@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * 
 *
 */


 html {
 	height: 100%;
 }

 body {

 
 	background-color: #fafafa;
 	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }


.navbar-brand {
	
		color: #125688;
	
}
.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #fff;
	height: 54px;
	.navbar-nav li a {
		color: #125688;
	}
}

.navbar-container {
	width: 640px;
	margin: 0 auto;
}

.posts-wrapper {
	padding-top: 40px;
	margin: 0 auto;
	max-width: 642px;
	width: 100%;
}

.post {
	background-color: #fff;
	border-color: #edeeee;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	margin-bottom: 60px;
}

.name {
	display: -webkit-inline-box;
}

.time {
	color: #878794;
	margin-top: 5px;
}

.post-head {
	height: 64px;
	padding: 14px 20px;
	color: #125688;
	font-size: 15px;
	line-height: 18px;
}

.image {
	border-bottom: 1px solid #eeefef;
	border-top: 1px solid #eeefef;
}

.caption {
	padding: 24px 24px;
	font-size: 15px;
	line-height: 18px;
}

.form-wrapper {
	width: 40%;
	margin: 20px auto;
	background-color: #fff;
	padding: 40px;
	border: 1px solid #eeefef;
	border-radius: 3px;
}

.delete-link {
	margin-left: 278px;
}

.comment-wrapper {
	
}

.comment {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 2px;
}
.comment-form {
		background-color: #eeefef;
	padding-top: 10px;
	padding-bottom: 10px;
}

.comment-field-input {
	height: 33px;
	margin-left: 20px;
	border-radius: 3%;
	border-width: 2px;
	border-style: solid;
	border-color: #FFF;
	width: 83%;
}

.comment-btn {
	margin-left: 6px;
}

.content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
  margin-bottom: 5px;
  line-height: 16px;
  border-bottom-style: solid;
  border-color: #EEff;
  border-width: 1px;
  padding-bottom: 10px;
}

.comment-name {
	font-weight: 500px;
	margin-top: 7px;
	color: #125688;
	font-size: 15px;
	display: inline;
}

.login-bg {
	width: 100%;
	height: 950px;
	padding-top: 4em;
	background: url('https://images.unsplash.com/photo-1445264918150-66a2371142a2?auto=format&fit=crop&w=1000&q=80') no-repeat center center fixed;
	  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	margin-top: 15px;
}

.log-in-panel {
	background-color: #FFF;
	border-radius: 2%;
	border-width: 2px;
	border-style: solid;
	border-color: #eeefef;
	height: 466px;
	padding: 13px;
	width: 410px;
	margin-bottom: 205px;
	margin-left: 445px;
}

.panel-heading {
	h2 {
		text-align: center;
	}
}

.comment-delete-btn {
	
	color: #8e8787;
}

.post-edit-btn {
	margin-left: 290px;
}


.register-bg {
	width: 100%;
	height: 950px;
	padding-top: 4em;
	background: url('https://images.unsplash.com/photo-1427694012323-fb5e8b0c165b?auto=format&fit=crop&w=2132&q=80') no-repeat center center fixed;
	  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	margin-top: 15px;
}


.sign-up-panel {
	background-color: #FFF;
	border-radius: 2%;
	border-width: 2px;
	border-style: solid;
	border-color: #eeefef;
	height: 75%;
	padding: 13px;
	width: 410px;
	margin-bottom: 205px;
	margin-left: 445px;
}


.load-more-wrapper {
	color: #4090DB;
	display: table;
	font-size: 12px;
	height: 120px;
	width: 120px;
	border: 2px solid #2D6DA8;
	border-radius: 50%;
	:hover {
		border: 1px solid #2D6DA8;
		border-radius: 50%;
	}

}



.load-more-posts-btn {
	display: table-cell;
	font-size: 13px;
	padding: 0px 25px;
	vertical-align: middle;
	text-decoration: none;
	a :hover {
		color: #2D6DA8;
	}
}

.show-more-links {
	margin-left: 32%;
	padding: 8px;
}

.bio-wrapper {
	margin-top: 40px
}


.bio {
	display: -webkit-inline-box;

}

.profile-name {
	display: -webkit-inline-box;
	padding-right: 32px;
}

.user-bio {
	margin-top: 20px;
	font-size: 16px;
}

.profile-btn {
	margin-left: 78px;
}
.btm-post {
	margin-left: 20px;
	display: -webkit-inline-box;
}

.heart {
	color: #656b71 ;
	margin-top: 25px;
}

.post-caption-wrapper {
	display: -webkit-inline-box;
	position: relative;
	left: -100px;
	margin-top: 10px;
}

.username {
	color: #594cca;
	font-weight: 700;
}

.heart {
	position: relative;
	top: 26px;
	color: #f78c17;
}

.heart-color {
	color: #f90505;
}

.profile-data-wrapper {
	margin-bottom: 42px;
	margin-left: 81px;
}